In [66]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [67]:
shotlogs = pd.read_csv('shot_logs.csv')
shotlogs[:10]

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148
5,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,6,2,8:15,9.1,2,...,18.4,2,missed,"Williams, Deron",101114,2.6,0,0,brian roberts,203148
6,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,7,4,10:15,14.5,11,...,20.7,2,missed,"Jack, Jarrett",101127,6.1,0,0,brian roberts,203148
7,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,8,4,8:00,3.4,3,...,3.5,2,made,"Plumlee, Mason",203486,2.1,1,2,brian roberts,203148
8,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,9,4,5:14,12.4,0,...,24.6,3,missed,"Morris, Darius",202721,7.3,0,0,brian roberts,203148
9,21400890,"MAR 03, 2015 - CHA vs. LAL",H,W,1,1,2,11:32,17.4,0,...,22.4,3,missed,"Ellington, Wayne",201961,19.8,0,0,brian roberts,203148

In [68]:
#Total number of games played
total_games = len(shotlogs['GAME_ID'].unique())
total_games

904

In [69]:
#Game reference table

gameref = shotlogs.groupby(['GAME_ID', 'MATCHUP', 'LOCATION', 'W'])[['SHOT_NUMBER']].count()
gameref[:5]

                                                SHOT_NUMBER
GAME_ID  MATCHUP                    LOCATION W
21400001 OCT 28, 2014 - NOP vs. ORL H        W           87
         OCT 28, 2014 - ORL @ NOP   A        L           75
21400002 OCT 28, 2014 - DAL @ SAS   A        L           67
         OCT 28, 2014 - SAS vs. DAL H        W           70
21400003 OCT 28, 2014 - HOU @ LAL   A        W           49

In [70]:
splitfunc = lambda x: pd.Series([i for i in reversed(x.split('-'))])
matchup_split = shotlogs['MATCHUP'].apply(splitfunc)
matchup_split.rename(columns={0:'TEAMS',1:'DATE'},inplace=True)
# print matchup_split[:10]

In [71]:
shotlogs = shotlogs.merge(matchup_split,left_index=True, right_index=True)

In [79]:
shotlogs[:6]

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id,TEAMS,DATE
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,CHA @ BKN,"MAR 04, 2015"
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,CHA @ BKN,"MAR 04, 2015"
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,CHA @ BKN,"MAR 04, 2015"
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148,CHA @ BKN,"MAR 04, 2015"
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148,CHA @ BKN,"MAR 04, 2015"
5,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,6,2,8:15,9.1,2,...,missed,"Williams, Deron",101114,2.6,0,0,brian roberts,203148,CHA @ BKN,"MAR 04, 2015"

In [76]:
shotlogs.describe()

,GAME_ID,FINAL_MARGIN,SHOT_NUMBER,PERIOD,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id
count,1.280690e+05,128069.000000,128069.000000,128069.000000,122502.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000
mean,2.140045e+07,0.208723,6.506899,2.469427,12.453344,2.023355,2.765901,13.571504,2.264670,159038.487284,4.123015,0.452139,0.997314,157238.251247
std,2.578773e+02,13.233267,4.713260,1.139919,5.763265,3.477760,3.043682,8.888964,0.441159,78791.172947,2.756446,0.497706,1.130978,79362.389336
min,2.140000e+07,-53.000000,1.000000,1.000000,0.000000,0.000000,-163.600000,0.000000,2.000000,708.000000,0.000000,0.000000,0.000000,708.000000
25%,2.140023e+07,-8.000000,3.000000,1.000000,8.200000,0.000000,0.900000,4.700000,2.000000,101249.000000,2.300000,0.000000,0.000000,101162.000000
50%,2.140045e+07,1.000000,5.000000,2.000000,12.300000,1.000000,1.600000,13.700000,2.000000,201949.000000,3.700000,0.000000,0.000000,201939.000000
75%,2.140067e+07,9.000000,9.000000,3.000000,16.675000,2.000000,3.700000,22.500000,3.000000,203079.000000,5.300000,1.000000,2.000000,202704.000000
max,2.140091e+07,53.000000,38.000000,7.000000,24.000000,32.000000,24.900000,47.200000,3.000000,530027.000000,53.200000,1.000000,3.000000,204060.000000

In [119]:
# Analyzing performance during last 2 minutes of final quarter

import datetime as dt
shotlogs['GAME_CLOCK_TIME'] = pd.to_datetime(shotlogs['GAME_CLOCK'], format='%M:%S')
shotlogs['GAME_CLOCK_MINUTES']=shotlogs['GAME_CLOCK_TIME'].dt.minute
shotlogs['GAME_CLOCK_SECONDS']=shotlogs['GAME_CLOCK_TIME'].dt.second
mask1 = shotlogs['GAME_CLOCK_MINUTES']<3
mask2 = shotlogs['PERIOD']==4
shotlogs_last2minutes = shotlogs[mask1 & mask2]
shotlogs_last2minutes[:5]

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id,TEAMS,DATE,GAME_CLOCK_TIME,GAME_CLOCK_MINUTES,GAME_CLOCK_SECONDS
39,21400783,"FEB 10, 2015 - CHA vs. DET",H,L,-28,5,4,1:33,12.1,0,...,6.7,0,0,brian roberts,203148,CHA vs. DET,"FEB 10, 2015",1900-01-01 00:01:33,1,33
40,21400783,"FEB 10, 2015 - CHA vs. DET",H,L,-28,6,4,0:25,8.3,6,...,3.6,0,0,brian roberts,203148,CHA vs. DET,"FEB 10, 2015",1900-01-01 00:00:25,0,25
53,21400768,"FEB 08, 2015 - CHA vs. IND",H,L,-1,13,4,2:50,6.5,2,...,3.2,0,0,brian roberts,203148,CHA vs. IND,"FEB 08, 2015",1900-01-01 00:02:50,2,50
54,21400768,"FEB 08, 2015 - CHA vs. IND",H,L,-1,14,4,0:01,NaN,5,...,3.6,0,0,brian roberts,203148,CHA vs. IND,"FEB 08, 2015",1900-01-01 00:00:01,0,1
65,21400761,"FEB 07, 2015 - CHA @ PHI",A,L,-8,11,4,1:57,11.7,2,...,5.6,0,0,brian roberts,203148,CHA @ PHI,"FEB 07, 2015",1900-01-01 00:01:57,1,57